<a href="https://colab.research.google.com/github/keliwu5/ML100Days/blob/main/homework/%E4%BD%9C%E6%A5%AD%E9%A1%8C%E7%9B%AE_D10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

作業目標:<br>
1. 運用索引找出需要資料<br>
2. 合併資料的分法應用

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

作業重點:<br>
1. 分辨索引loc、iloc差別
2. 分辨合併資料方法的不同，因應不同情況使用Merge, join, concatenate

題目:<br>
讀取STOCK_DAY_0050_202009.csv串聯STOCK_DAY_0050_202010.csv，並且找出open小於close的資料

In [1]:
import pandas as pd

In [ ]:
#讀取STOCK_DAY_0050_202009.csv、STOCK_DAY_0050_202010.csv
stock_data_09 = pd.read_csv('STOCK_DAY_0050_202009.csv')
stock_data_10 = pd.read_csv('STOCK_DAY_0050_202010.csv')

In [10]:
#串聯
stock_concat = pd.concat([stock_data_09, stock_data_10], axis=0)

In [9]:
#找出open小於close的資料
stock_concat.loc[(stock_concat.open < stock_concat.close),['date','open','close']]

         date    open   close
0   109/09/01  102.45  103.35
3   109/09/04  102.00  102.55
5   109/09/08  102.75  103.00
6   109/09/09  101.75  102.30
7   109/09/10  102.80  103.20
8   109/09/11  103.20  103.25
9   109/09/14  103.50  104.55
10  109/09/15  104.45  104.95
19  109/09/28  101.35  102.30
21  109/09/30  102.75  103.00
1   109/10/06  104.00  104.25
2   109/10/07  104.00  104.80
3   109/10/08  105.45  106.20
4   109/10/12  106.70  107.05
9   109/10/19  105.65  106.60
12  109/10/22  105.70  106.10